<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar gastos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        header h1 {
            margin: 0;
        }

        main {
            padding: 20px;
        }

        .welcome-section {
            text-align: center;
            margin-top: 50px;
        }

        .help-section {
            text-align: center;
            margin-top: 50px;
        }

        .help-section p {
            margin-bottom: 20px;
        }

        .help-section button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 0 10px;
            cursor: pointer;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Ingresar Gastos</h1>
    </header>
    <main>
        <section class="welcome-section">
            <h2>Bienvenido al Sistema de Costos</h2>
            <p>¡Gracias por unirte a nosotros!</p>
            <p>Empieza a añadir tus gastos.</p>
        </section>
        <form>

            <label for="menuDesplegable">Elije una categoria:</label>
            <select id="menuDesplegable" name="opciones">
              <option value="opcion1">Tansporte</option>
              <option value="opcion2">Entretenimiento</option>
              <option value="opcion3">Ropa</option>
              <option value="opcion4">Comida</option>
              <option value="opcion5">Otros</option>
            </select> 
            
            <br><br>
          
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha">
            
            <br><br>
            
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" min="1">
            
            <br><br>
            
            <input type="submit" value="Enviar">
          
          </form>
    </main>
    <footer>
        <p>&copy; 2024 Sistema de Costos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>