<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte de Datos</title>
</head>

<body>
  <h1>Reporte de Datos</h1>
  <form id="reportForm">
    <label for="startDate">Fecha de Inicio:</label>
    <input type="date" id="startDate" name="startDate" required>
    <label for="endDate">Fecha Final:</label>
    <input type="date" id="endDate" name="endDate" required>
    <button type="button" onclick="enviarFormulario()">Generar reporte</button>
  </form>
  <div id="resultados">
    <!-- Aquí se mostrarán los resultados -->
  </div>

  <script>
    function enviarFormulario() {
      var startDate = document.getElementById('startDate').value;
      var endDate = document.getElementById('endDate').value;

      /// Realizar una solicitud AJAX para obtener los datos del servidor
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'http://localhost:3000/obtener-datos?startDate=' + startDate + '&endDate=' + endDate, true);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            // Limpiar los resultados anteriores
            document.getElementById('resultados').innerHTML = '';

            // Mostrar los resultados obtenidos del servidor
            var data = JSON.parse(xhr.responseText);
            data.forEach(function(item) {
              var p = document.createElement('p');
              p.textContent = 'Fecha: ' + item.fecha + ', Cantidad: ' + item.cantidad; // Cambiar "Valor" por "Cantidad"
              document.getElementById('resultados').appendChild(p);
          });
          
            console.error('Hubo un error al obtener los datos del servidor.');
          }
        }
      };
      xhr.send();
    }
  </script>

</body>

</html>