<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte de Datos</title>

  <style>
    body {
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #1b5296;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    header h1 {
        margin: 0;
    }

    #subtitle{
      color: #ffffff;
      margin-left: 50px;
      margin-right: 50px;
    }

    header h4 a {       
      text-decoration: none; /* Elimina el subrayado del enlace */
      color: inherit; /* Hereda el color del texto del elemento padre */
    }


    main h2{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main {
        padding: 20px;
    }

    .welcome-section {
        text-align: center;
        margin-top: 50px;
    }

    .help-section {
        text-align: center;
        margin-top: 50px;
    }

    .help-section p {
        margin-bottom: 20px;
    }

    .help-section button {
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 10px;
        cursor: pointer;
    }

    p{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }

    button{
      background-color: #1b5296; /* Color de fondo */
      border: 2px solid white; /* Contorno blanco */
      color: white; /* Color del texto */
      padding: 10px 10px; /* Espacio interno */
      font-size: 13px; /* Tamaño de la fuente */
      border-radius: 5px; /* Bordes redondeados */
      cursor: pointer; /* Cambiar cursor al pasar por encima */
    }

    footer {
        background-color: #184883;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /* Estilos para los nombres de los desarrolladores */
    .developers {
        font-size: 14px;
        margin-top: 10px;
    }

    .developer-link {
        color: #fff;
        text-decoration: none;
        margin: 0 5px;
    }

    .developer-link:hover {
        text-decoration: underline;
    }
</style>
</head>

<body>
  <header>
    <h4 id="subtitle"><a href="/">Home</a></h4>
    <h1>Ingresar Gastos</h1>
    <h4 id="subtitle"><a href="/ingresar">Registrar</a></h4>
</header>
  <main>
    <div style="background-color: skyblue; display: flex; justify-content: center; align-items: center; ">
      <form id="reportForm" style="padding-top: 20px; padding-bottom: 20px; font-size: 25px;">
        <label for="startDate">Fecha de Inicio:</label>
        <input type="date" id="startDate" name="startDate" required>
        <br>
        <label for="endDate">Fecha Final:</label>
        <input type="date" id="endDate" name="endDate" required>
        <br>
        <button type="button" onclick="enviarFormulario()">Generar reporte</button>
      </form>
    </div>
    <div id="resultados">
      <!-- Aquí se mostrarán los resultados -->
    </div>
  </main>

  <script>
    function enviarFormulario() {
      var startDate = document.getElementById('startDate').value;
      var endDate = document.getElementById('endDate').value;

      /// Realizar una solicitud AJAX para obtener los datos del servidor
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'http://localhost:3000/obtener-datos?startDate=' + startDate + '&endDate=' + endDate, true);

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            // Limpiar los resultados anteriores
            document.getElementById('resultados').innerHTML = '';

            // Mostrar los resultados obtenidos del servidor
            var data = JSON.parse(xhr.responseText);
            data.forEach(function(item) {
              var p = document.createElement('p');
              p.textContent = 'Fecha: ' + item.fecha + ', Cantidad: ' + item.cantidad; // Cambiar "Valor" por "Cantidad"
              document.getElementById('resultados').appendChild(p);
          });
          
            console.error('Hubo un error al obtener los datos del servidor.');
          }
        }
      };
      xhr.send();
    }
  </script>

  <footer>
    <p>&copy; 2024 Sistema de Costos. Todos los derechos reservados.</p>
  </footer>

</body>

</html>